<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.mapper.DriverMapper" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.Driver" >
    <id column="driverlicenseld" property="driverlicenseld" jdbcType="INTEGER" />
    <result column="pathname" property="pathname" jdbcType="INTEGER" />
    <result column="personnelid" property="personnelid" jdbcType="INTEGER" />
    <result column="driverremark" property="driverremark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    driverlicenseld, pathname, personnelid, driverremark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuliu.pojo.DriverExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from driver
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver
    where driverlicenseld = #{driverlicenseld,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver
    where driverlicenseld = #{driverlicenseld,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuliu.pojo.DriverExample" >
    delete from driver
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.Driver" >
    insert into driver (driverlicenseld, pathname, personnelid, 
      driverremark)
    values (#{driverlicenseld,jdbcType=INTEGER}, #{pathname,jdbcType=INTEGER}, #{personnelid,jdbcType=INTEGER}, 
      #{driverremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.Driver" >
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="driverlicenseld != null" >
        driverlicenseld,
      </if>
      <if test="pathname != null" >
        pathname,
      </if>
      <if test="personnelid != null" >
        personnelid,
      </if>
      <if test="driverremark != null" >
        driverremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="driverlicenseld != null" >
        #{driverlicenseld,jdbcType=INTEGER},
      </if>
      <if test="pathname != null" >
        #{pathname,jdbcType=INTEGER},
      </if>
      <if test="personnelid != null" >
        #{personnelid,jdbcType=INTEGER},
      </if>
      <if test="driverremark != null" >
        #{driverremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuliu.pojo.DriverExample" resultType="java.lang.Integer" >
    select count(*) from driver
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update driver
    <set >
      <if test="record.driverlicenseld != null" >
        driverlicenseld = #{record.driverlicenseld,jdbcType=INTEGER},
      </if>
      <if test="record.pathname != null" >
        pathname = #{record.pathname,jdbcType=INTEGER},
      </if>
      <if test="record.personnelid != null" >
        personnelid = #{record.personnelid,jdbcType=INTEGER},
      </if>
      <if test="record.driverremark != null" >
        driverremark = #{record.driverremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update driver
    set driverlicenseld = #{record.driverlicenseld,jdbcType=INTEGER},
      pathname = #{record.pathname,jdbcType=INTEGER},
      personnelid = #{record.personnelid,jdbcType=INTEGER},
      driverremark = #{record.driverremark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.Driver" >
    update driver
    <set >
      <if test="pathname != null" >
        pathname = #{pathname,jdbcType=INTEGER},
      </if>
      <if test="personnelid != null" >
        personnelid = #{personnelid,jdbcType=INTEGER},
      </if>
      <if test="driverremark != null" >
        driverremark = #{driverremark,jdbcType=VARCHAR},
      </if>
    </set>
    where driverlicenseld = #{driverlicenseld,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.Driver" >
    update driver
    set pathname = #{pathname,jdbcType=INTEGER},
      personnelid = #{personnelid,jdbcType=INTEGER},
      driverremark = #{driverremark,jdbcType=VARCHAR}
    where driverlicenseld = #{driverlicenseld,jdbcType=INTEGER}
  </update>
</mapper>