<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.mapper.PathtimeMapper" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.Pathtime" >
    <id column="pathtimeid" property="pathtimeid" jdbcType="INTEGER" />
    <result column="pathid" property="pathid" jdbcType="INTEGER" />
    <result column="pathtimestarttime" property="pathtimestarttime" jdbcType="TIME" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pathtimeid, pathid, pathtimestarttime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuliu.pojo.PathtimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pathtime
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pathtime
    where pathtimeid = #{pathtimeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pathtime
    where pathtimeid = #{pathtimeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuliu.pojo.PathtimeExample" >
    delete from pathtime
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.Pathtime" >
    insert into pathtime (pathtimeid, pathid, pathtimestarttime
      )
    values (#{pathtimeid,jdbcType=INTEGER}, #{pathid,jdbcType=INTEGER}, #{pathtimestarttime,jdbcType=TIME}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.Pathtime" >
    insert into pathtime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pathtimeid != null" >
        pathtimeid,
      </if>
      <if test="pathid != null" >
        pathid,
      </if>
      <if test="pathtimestarttime != null" >
        pathtimestarttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pathtimeid != null" >
        #{pathtimeid,jdbcType=INTEGER},
      </if>
      <if test="pathid != null" >
        #{pathid,jdbcType=INTEGER},
      </if>
      <if test="pathtimestarttime != null" >
        #{pathtimestarttime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuliu.pojo.PathtimeExample" resultType="java.lang.Integer" >
    select count(*) from pathtime
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pathtime
    <set >
      <if test="record.pathtimeid != null" >
        pathtimeid = #{record.pathtimeid,jdbcType=INTEGER},
      </if>
      <if test="record.pathid != null" >
        pathid = #{record.pathid,jdbcType=INTEGER},
      </if>
      <if test="record.pathtimestarttime != null" >
        pathtimestarttime = #{record.pathtimestarttime,jdbcType=TIME},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pathtime
    set pathtimeid = #{record.pathtimeid,jdbcType=INTEGER},
      pathid = #{record.pathid,jdbcType=INTEGER},
      pathtimestarttime = #{record.pathtimestarttime,jdbcType=TIME}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.Pathtime" >
    update pathtime
    <set >
      <if test="pathid != null" >
        pathid = #{pathid,jdbcType=INTEGER},
      </if>
      <if test="pathtimestarttime != null" >
        pathtimestarttime = #{pathtimestarttime,jdbcType=TIME},
      </if>
    </set>
    where pathtimeid = #{pathtimeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.Pathtime" >
    update pathtime
    set pathid = #{pathid,jdbcType=INTEGER},
      pathtimestarttime = #{pathtimestarttime,jdbcType=TIME}
    where pathtimeid = #{pathtimeid,jdbcType=INTEGER}
  </update>
</mapper>