<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.mapper.PeisongMapper" >

  <select id="selectAll" resultType="com.wuliu.pojo.Peisong">
    SELECT p.`pathname`,r.`fhadd`,r.`shadd`,r.`firstprice`,r.`cgjprice`,r.`stjprice`,r.`ctjprice`,r.`sslxn` FROM path p,addprice a,runprice r WHERE p.`pathid`=a.`pathid` AND a.`runpriceid`=r.`runpriceid`
  </select>


</mapper>