<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.mapper.RolerMapper" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.Roler" >
    <id column="partnumber" property="partnumber" jdbcType="INTEGER" />
    <result column="rolername" property="rolername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    partnumber, rolername
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuliu.pojo.RolerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roler
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from roler
    where partnumber = #{partnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roler
    where partnumber = #{partnumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuliu.pojo.RolerExample" >
    delete from roler
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.Roler" >
    insert into roler (partnumber, rolername)
    values (#{partnumber,jdbcType=INTEGER}, #{rolername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.Roler" >
    insert into roler
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partnumber != null" >
        partnumber,
      </if>
      <if test="rolername != null" >
        rolername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partnumber != null" >
        #{partnumber,jdbcType=INTEGER},
      </if>
      <if test="rolername != null" >
        #{rolername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuliu.pojo.RolerExample" resultType="java.lang.Integer" >
    select count(*) from roler
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update roler
    <set >
      <if test="record.partnumber != null" >
        partnumber = #{record.partnumber,jdbcType=INTEGER},
      </if>
      <if test="record.rolername != null" >
        rolername = #{record.rolername,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update roler
    set partnumber = #{record.partnumber,jdbcType=INTEGER},
      rolername = #{record.rolername,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.Roler" >
    update roler
    <set >
      <if test="rolername != null" >
        rolername = #{rolername,jdbcType=VARCHAR},
      </if>
    </set>
    where partnumber = #{partnumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.Roler" >
    update roler
    set rolername = #{rolername,jdbcType=VARCHAR}
    where partnumber = #{partnumber,jdbcType=INTEGER}
  </update>
</mapper>